{
  "root": true,
  "plugins": [
    "security-node",
    "anti-trojan-source"
  ],
  "extends": [
    "@nuxt/eslint-config",
    "plugin:security-node/recommended",
    "plugin:anti-trojan-source/recommended"
  ],
  "rules": {
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ]
  }
}